<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="DEBUG">
  <Appenders>
    <!-- <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
     <File name="MyFile" fileName="all.log" immediateFlush="false"
      append="false">
      <PatternLayout
        pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </File> -->
    <RollingFile name="RollingFile" fileName="/opt/wildfly-10.0.0.Final/standalone/log/eeeConsole.log" filePattern="standalone/log/archived/eeeConsole-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="RollingFile" />
    </Root>
    <Logger name="eu.fiesta_iot.platform.eee.console" level="DEBUG" />
  </Loggers>
</Configuration>